.container-3baos1 {
   background-color: var(--background-primary);
}

.peopleList-3c4jOR {
   background-color: var(--background-primary);
}

.section-2gLsgF {
   background-color: var(--background-secondary);
}

.lookFilled-1Gx00P.colorGrey-2DXtkV {
   background-color: var(--background-secondary);
}

.bd-switch {
   background-color: var(--background-secondary-alt);
}

.bd-switch-checked {
   background-color: var(--bd-blue);
}

.scrollableContainer-2NUZem {
   background-color: var(--background-secondary);
}

.header-1TKi98 {
   background-color: var(--background-primary);
}

.container-1_ClKi {
   background-color: var(--background-primary);
}

.footer-2gL1pp {
   background-color: var(--background-secondary);
}

.accountList-33MS45 {
   background-color: var(--background-secondary);
}

.connectionHeader-2MDqhu {
   background-color: var(--background-tertiary);
}

.bd-addon-list .bd-addon-header {
   background-color: var(--background-tertiary);
}

#bd-editor-controls, .floating-window #bd-editor-controls {
   background-color: var(--background-secondary);
}


html .monaco-editor .minimap,
html .monaco-editor .decorationsOverviewRuler {
	display: none;
}

html .monaco-editor,
html .monaco-editor-background,
html .monaco-editor .inputarea.ime-input,
html .monaco-editor .margin {
	background-color: var(--background-secondary);
}
html .monaco-editor,
html .monaco-editor .inputarea.ime-input {
	color: var(--text-normal);
}

.theme-dark .headerNormal-T_seeN {
   background-color: var(--background-tertiary);
}

.theme-dark .body-3iLsc4,
.theme-dark .footer-1fjuF6 {
   background-color: var(--background-secondary);
   color: var(--text-normal);
}

.container-1giJp5, .activityPanel-28dQGo {
   background-color: var(--background-primary);
}

.jumpToPresentBar-G1R9s6 {
   background-color: var(--background-secondary);
}

.bd-toast {
	background-color: var(--background-floating);
	box-shadow: var(--elevation-medium);
	color: var(--header-primary);
}

#app-mount .container-3ayLPN {
	background-color: var(--background-primary);
}

#app-mount .focused-2bY0OD {
	background-color: var(--background-tertiary);
}

#app-mount .option-96V44q::after {
	background: linear-gradient(90deg,transparent,var(--background-primary) 80%);
}

#app-mount .searchAnswer-3Dz2-q,
#app-mount .searchFilter-2ESiM3 {
	background-color: var(--background-primary);
	color: var(--header-primary);
}

.theme-dark .scroller-1-nKid {
   background: var(--background-primary);
}

.scrollerBase-289Jih::-webkit-scrollbar-track {
	background-color: var(--background-secondary);
}

.scrollerBase-289Jih::-webkit-scrollbar-thumb {
   background-color: var(--background-tertiary);
}

.autocompleteInner-zh20B_{
   background-color: var(--background-secondary);
}

.theme-dark .selected-1Tbx07 {
   background-color: var(--background-primary);
}

.inspector-3LQtX9 {
   background-color: var(--background-tertiary);
}

.emojiItemMedium-_WAwGB:hover {
   background-color: var(--background-tertiary);
}

.theme-dark .footer-2gL1pp {
   background-color: var(--background-secondary);
}

.content-1YdlXf {
   background-color: var(--background-primary);
   border-color: none;
}

.theme-dark .error-tDF6fl, .theme-light .error-tDF6fl {
   color:white;
}

.uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC {
   background-color: var(--background-secondary);
}

.theme-dark .uploadModal-2ifh8j {
   background-color: var(--background-primary);
}

.selected-aXhQR6 .layout-2DM8Md {
   background-color: var(--background-primary);
}

.theme-dark .css-3vaxre-menu {
   background-color: var(--background-primary)
}

/* MEMBERCOUNT FIX */
#app-mount #MemberCount {
   background-color: var(--background-secondary);
}
/* MEMBERCOUNT FIX */

/* LIGHT THEME WARNING */
.theme-light .layer-3QrUeG:first-of-type::before {
   content: 'You need to have the dark mode enabled for this theme to work properly. To enable it, go in settings > appearance.';
   position: fixed;
   display: block;
   width: 400px;
   height: 30px;
   top: 50%;
   left: 50%;
   background: var(--background-primary);
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   color: white;
   padding: 20px;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(240, 71, 71, 0.3);
   border: 3px solid #f04747;
   z-index: 2;
}

.theme-light
   .preview-2nSL_2.cardPrimaryOutline-29Ujqw
   + .marginTop40-i-78cZ
   .radioGroup-1GBvlr
   .cardPrimaryEditable-3KtE4g:first-of-type,
.theme-light .preview-2nSL_2.cardPrimaryOutline-29Ujqw + .marginTop40-i-78cZ .radioGroup-1GBvlr .item-26Dhrx:first-of-type {
   animation: flash 1s ease infinite;
    background: #f04747;
    color: white;
}

.theme-light .app-2rEoOp .base-3dtUhz {
   overflow: visible;
}

.theme-light .app-2rEoOp .container-3baos1 > .noWrap-3jynv6 > .button-14-BFJ:nth-child(3) {
   position: fixed;
   left: 50%;
   top: 50%;
   -ms-transform: translate(-50%, -50%);
   transform: translate(-50%, -50%);
   margin-top: 70px;
   width: 230px;
   height: 40px;
   visibility: visible !important;
   background: #f04747 !important;
   border-radius: 5px;
   box-shadow: 0 2px 10px rgba(240, 71, 71, 0.3);
   animation: flash 1s ease infinite;
   border: 1px solid transparent
}

.theme-light .app-2rEoOp .container-3baos1 > .noWrap-3jynv6 > .button-14-BFJ:nth-child(3)::before {
   position: absolute;
   z-index: 10000;
   content: 'Settings';
   display: flex;
   justify-content: center;
   align-items: center;
   width: 230px;
   height: 14px;
   border-radius: 5px;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   visibility: visible !important;
   font-size: 17px;
   font-weight: 700;
   color: white;
   text-align: center;
}

.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type *,
.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type *::after,
.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type *::before {
   visibility: hidden !important;
}

@keyframes flash {
    100% {
        border-color: white;
    }
    50% {
        border-color: #f04747;
    }
    0% {
        border-color: white;
    }
}

.platform-win.theme-light .item-PXvHYJ:nth-of-type(20), html:not(.platform-win).theme-light .item-PXvHYJ:nth-of-type(19) {
    background: #f04747 !important;
    border: 1px solid transparent;
    animation: flash 1s ease infinite;
}

.theme-light .app-2rEoOp .layer-3QrUeG:first-of-type {
   background-size: 30%;
   background-color: var(--background-secondary) !important;
}

.xenoLib-notification-content {
   background: var(--background-tertiary) !important;
   border: 1px solid var(--background-floating) !important;
}
/* LIGHT THEME WARNING */
